{% extends 'base.html' %}
{% load bootstrap3 %}
{% load url from future %}


{% block title %}Tippgemeinschaft - Einladung{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Tipper einladen</h3>
			</div>
				<div class="panel-body">
					<form role="form" class="form-horizontal" method="post">
						{% csrf_token %}
						Lieber nicht aus allen Usern wählen?<br>
						Auch möglichkeit der email eingabe
						{% bootstrap_form form layout="horizontal" %}
						{% buttons submit='Einladen' reset='Abbrechen' layout='horizontal' %}{% endbuttons %}
					</form>
				</div>
		</div>
	</div>
</div>
{% endblock %}
