{% extends 'base.html' %}
{% load bootstrap3 %}
{% load url from future %}

{% block title %}Tippgemeinschaft{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Tippgemeinschaft Details</h3>
			</div>
				<div class="panel-body">
					<form role="form" class="form-horizontal" method="post">
						{% csrf_token %}
						{% bootstrap_form form layout="horizontal" %}
						{% if user.id == tg.chef.id or user.is_staff %}
							<div class="form-group">
								<label class="col-md-2 control-label">&nbsp;</label>
								<div class="col-md-4">
									<button type="submit" class="btn btn-primary">Speichern</button>
									<button type="submit" name="delete" onclick='return confirm("Wirklich löschen?\nDamit wird die Tippgemeinschaft aufgelöst, aber alle Tipps bleiben erhalten.");' class="btn btn-warning">Löschen</button>
									<button type="reset" class="btn btn-default">Abbrechen</button>
								</div>
							</div>
						{% endif %}
					<div class="form-group">
						<label class="col-md-2 control-label">Chef</label>
						<div class="col-md-4">
							<div style="padding-top:7px;">{% firstof tg.chef.first_name tg.user.username %}</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">Erstellt am</label>
						<div class="col-md-4">
							<div style="padding-top:7px;">{{ tg.gruendungsdatum|date:"d.m." }}</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">Tipper</label>
						<div class="col-md-4">
						<ul>
							{% for user_ in tg.users.all %}
							<li>
								{% firstof user_.first_name user_.username %}
								{% if user.id == tg.chef.id and user.id != user_.id %}
									<a href="{% url "del_tg_user" tg.id user_.id %}" style="color:red;" title="Spieler rauswerfen" onclick='return confirm("Tipper wirklich aus dieser Tippgemeinschaft rauswerfen?");'><span class="glyphicon glyphicon-remove"></span></a>
								{% endif %}
							</li>
							{% endfor %}
						</ul>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">Einladungen</label>
						<div class="col-md-4">
						<ul>
							{% for tge in tg.tg_einladung_set.all %}
							<li>
								{% firstof tge.fuer.first_name tge.fuer.username %} (vom {{ tge.datum|date:"d.m." }})
								{% if user.id == tg.chef.id or user.id == user_.id %}
									<a href="{% url "del_tg_einladung" tge.key %}" style="color:orange;" title="Einladung zurück ziehen" onclick='return confirm("Einladung wirklich zurück ziehen?");'><span class="glyphicon glyphicon-remove"></span></a>
								{% endif %}
							</li>
							{% endfor %}
							{% if user.id == tg.chef.id %}
								<li><b><a href="{% url "new_tg_einladung" tg.id %}">Weiteren Tipper einladen!</a></b></li>
							{% endif %}
						</ul>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">&nbsp;</label>
						<div class="col-md-4">
							{% if user.id != tg.chef.id and user in tg.users.all %}
								<a href="{% url "del_tg_user" tg.id user.id %}" class="btn btn-warning" title="austreten" onclick='return confirm("Wirklich aus dieser Tippgemeinschaft austreten?");'>Austreten!</a>
							{% endif %}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
