{% extends "base_site.html" %}
{% load i18n static %}
{% load url from future %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url 'BuLiTippApp.views.index' %}">{% trans 'Home' %}</a>
		&rsaquo;
		<a href="{% url 'BuLiTippApp.views.account' %}">Benutzerverwaltung</a>
	</div>
{% endblock %}

{% block content %}
{% include "css/BuLiTippApp.css" %}

	<h1>Accountdetails für Benutzer {{ user.username }}:</h1>
	<form method="POST" action="{% url 'BuLiTippApp.views.account' %}">
	{% csrf_token %}
		<div>
			<fieldset class="module aligned ">
    			<h2>Persönliche Infos</h2>
		        <div class="form-row field-first_name">
	                <div>
    	                <label for="id_first_name">Vorname:</label>
                        <input id="id_first_name" type="text" class="vTextField" name="first_name" value="{{ user.first_name }}" maxlength="30">
	                </div>
		        </div>
			    <div class="form-row field-last_name">
            		<div>
                        <label for="id_last_name">Nachname:</label>
                        <input id="id_last_name" type="text" class="vTextField" name="last_name" value="{{ user.last_name }}" maxlength="30">
		            </div>
		        </div>
			    <div class="form-row field-email">
        		    <div>
                        <label for="id_email">E-Mail-Adresse:</label>
                        <input id="id_email" type="text" class="vTextField" name="email" value="{{ user.email }}" maxlength="75" >
                    </div>
        		</div>
			</fieldset>
		</div>
		
	
		<div>
			<fieldset class="module aligned ">
    			<h2>Weitere Aktionen:</h2>
			        <div class="form-row">
		                <div>
        	                <label for="id_change_pw">Passwort ändern:</label>
                            <a id="id_change_pw" href="{% url 'BuLiTippApp.views.change_pw' %}">hier</a>
		                </div>
			        </div>
			</fieldset>
		</div>
		
		<div class="submit-row">
			<input type="submit" name="submit" value="speichern" class="default"/>
			<p class="deletelink-box"><input type="submit" name="delete" value="Account löschen"/></p>
			<input type="submit" name="cancel" value="abbrechen" />
		</div>
	
	</form>

{% endblock %}
