{% load url from future %}{% load bootstrap3 %}
<div class="panel panel-default">
	<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#user_pw">
			<h3 class="panel-title">Passwort ändern</h3>
		</a>
	</div>
	<div id="user_pw" class="panel-collapse collapse{% if referer = "pwchange" %} in{% endif %}">
		<div class="panel-body">
			<form role="form" class="form-horizontal" method="post" action="{% url "user_pwchange" %}">
				{% csrf_token %}
				{% bootstrap_form pwchange_form layout="horizontal" %}
				{% buttons submit='OK' reset='Abbrechen' layout='horizontal' %}{% endbuttons %}
			</form>
		</div>
	</div>
</div>