{% extends 'base.html' %}
{% load bootstrap3 %}
{% load url from future %}

{% block title %}Einstellungen{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#accordion" href="#user_general">
						<h3 class="panel-title">Benutzereinstellungen</h3>
					</a>
				</div>
				<div id="user_general" class="panel-collapse collapse{% if not referer %} in{% endif %}">
					<div class="panel-body">
						<form role="form" class="form-horizontal" method="post">
							{% csrf_token %}
							{% bootstrap_form form layout="horizontal" %}
							{% buttons submit='OK' reset='Abbrechen' layout='horizontal' %}{% endbuttons %}
						</form>
					</div>
				</div>
			</div>
			{% include "user/password.html" %}
			{% include "user/tippgemeinschaft.html" %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#accordion" href="#user_delete">
						<h3 class="panel-title">Benutzer löschen</h3>
					</a>
				</div>
				<div id="user_delete" class="panel-collapse collapse">
					<div class="panel-body">
						<a href="{% url "user_delete" %}" class="btn btn-warning">Account löschen</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
