{% load url from future %}
<div class="panel-group" id="accordion">
{% for news_ in news.news%}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{news_.id}}">
          Nachricht "{{news_.title}}" von {% firstof news_.author.first_name news_.author.username %} am {{news_.datum}}
        </a>
      </h4>
    </div>
    <div id="collapse{{news_.id}}" class="panel-collapse collapse {% if forloop.first %}in{% endif %}">
      <div class="panel-body">
        {{news_.text|safe}}
      </div>
    </div>
  </div>
{% endfor %}
</div>
