<script type="text/javascript">
function disableOptions() {
	var select1 = document.getElementsByName("absteigertipp1_id")[0].selectedIndex;
	var select2 = document.getElementsByName("absteigertipp2_id")[0].selectedIndex;
	var select3 = document.getElementsByName("absteigertipp3_id")[0].selectedIndex;

	if ( select1 == select2 ) {
		document.getElementsByName("absteigertipp2_id")[0].selectedIndex = select2 + 1;
		return disableOptions();
	}

	if ( select3 == select2 || select3 == select1 ) {
		document.getElementsByName("absteigertipp3_id")[0].selectedIndex = select3 + 1;
		return disableOptions();
	}

	for (var i=0;i<document.getElementsByName("absteigertipp1_id")[0].options.length;i++)
	{ 
		document.getElementsByName("absteigertipp1_id")[0].options[i].disabled = false
		document.getElementsByName("absteigertipp2_id")[0].options[i].disabled = false
		document.getElementsByName("absteigertipp3_id")[0].options[i].disabled = false
	}

	document.getElementsByName("absteigertipp1_id")[0].options[select2].disabled = true
	document.getElementsByName("absteigertipp1_id")[0].options[select3].disabled = true

	document.getElementsByName("absteigertipp2_id")[0].options[select1].disabled = true
	document.getElementsByName("absteigertipp2_id")[0].options[select3].disabled = true

	document.getElementsByName("absteigertipp3_id")[0].options[select1].disabled = true
	document.getElementsByName("absteigertipp3_id")[0].options[select2].disabled = true
}
</script>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Saisontipp<a class="right pull-right" href="{% url help_single_item "faq" "saisontipp" %}"><span style="color:blue;" class="glyphicon glyphicon-question-sign"></span></a></h3>
	</div>
	<div class="panel-body">
		<div class="text-center" style="padding-bottom: 10px;">
			<div id="dude"></div>
		</div>
		<script>
			var jahr={{spielzeit.tippbar_bis.year}}, monat={{spielzeit.tippbar_bis.month}}, tag={{spielzeit.tippbar_bis.day}}, stunde={{spielzeit.tippbar_bis.hour}}, minute={{spielzeit.tippbar_bis.minute}}, sekunde={{spielzeit.tippbar_bis.second}};
			var zielDatum=new Date(jahr,monat-1,tag,stunde,minute,sekunde);
			
			var p = document.getElementById('dude');
			countdown(p, zielDatum);
			p.id = "";
		</script>
		<form action="{% url saisontipp_post spielzeit.id %}" method="post">
			{% csrf_token  %}
			
			<div class="form-group">
				{% if not spielzeit.istPokal %}
					<label for="meistertipp_id">Meistertipp</label> Diese Saison wird gewinnen:
				{% else %}
					<label for="meistertipp_id">Pokalsiegertipp:</label>
				{% endif %}
				<select name="meistertipp_id" size="1" {% if not spielzeit.tippbar %}disabled{% endif %} class="form-control">
					{% for m in mannschaften %}
						<option {% if m.id == meistertipp.mannschaft_id %}selected{% endif %} value="{{ m.id }}">{{ m }}</option>
					{% endfor %}
				</select>
			</div>
		{% if not spielzeit.istPokal %}
			<div class="form-group">
				<label for="herbstmeistertipp_id">Herbstmeistertipp</label> Herbstmeister wird:
				<select name="herbstmeistertipp_id" size="1" {% if not spielzeit.tippbar %}disabled{% endif %} class="form-control">
					{% for m in mannschaften %}
						<option {% if m.id == herbstmeistertipp.mannschaft_id %}selected{% endif %} value="{{ m.id }}">{{ m }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="absteigertipp1_id">Absteigertipp</label> Absteigen wird:
				<select name="absteigertipp1_id" size="1" onchange="disableOptions()"  {% if not spielzeit.tippbar %}disabled{% endif %} class="form-control" style="margin-bottom: 5px;">
					{% for m in mannschaften %}
						<option {% if m.id == absteiger.0.mannschaft_id %}selected{% endif %} value="{{ m.id }}">{{ m }}</option>
					{% endfor %}
				</select>
				<select name="absteigertipp2_id" size="1" onchange="disableOptions()" {% if not spielzeit.tippbar %}disabled{% endif %} class="form-control" style="margin-bottom: 5px;">
					{% for m in mannschaften %}
						<option {% if m.id == absteiger.1.mannschaft_id %}selected{% endif %} value="{{ m.id }}">{{ m }}</option>
					{% endfor %}
				</select>
				<select name="absteigertipp3_id" size="1" onchange="disableOptions()" {% if not spielzeit.tippbar %}disabled{% endif %} class="form-control" style="margin-bottom: 5px;">
					{% for m in mannschaften %}
						<option {% if m.id == absteiger.2.mannschaft_id %}selected{% endif %} value="{{ m.id }}">{{ m }}</option>
					{% endfor %}
				</select>
			</div>
		
		<script type="text/javascript">
		disableOptions();
		</script>
		{% endif %}
		
		<input type="submit" class="btn btn-primary" value="Speichern !" {% if not spielzeit.tippbar %}disabled{% endif %}/>
		
		</form>
	</div>
</div>
