{% load url from future %}
{% load filters %}

<!--tabelle_buli-->
<div class="table-responsive">
	<table class="table table-bordered" name="tabelle_verein">
		<thead>
			<tr>
				<th colSpan=3 class="text-center"><h4 style="margin:0px;">Tabelle</h4></th >
			</tr>
		</thead>
		<tbody>
		{% for tp in spielzeit.tabelle.tabellenPlatz %}
			<tr name="tabelle_verein_{{tp.verein.id}}" title="{{tp.verein.serie|get:spielzeit.id}}">
				<td>{{tp.position}}</td><td>{{tp.verein}}</td><td>{{tp.punkte}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
