{% extends "base_site.html" %}
<!-- benötigt: spieltag, spielzeit -->
{% load i18n  %}

{% block breadcrumbs %}
    
    <div class="breadcrumbs">
    	<div style="float:left">
		    <a href="{% url BuLiTippApp.views.index %}">{% trans 'Home' %}</a>
		    {% if title %} &rsaquo; {{ title }}{% endif %}
		    
		    -&rsaquo;
		    <a href="{% url BuLiTippApp.views.index spielzeit.id %}">{{ spielzeit.bezeichner }}</a>
		    -&rsaquo;
		
			<select name="spieltag" size="1" onchange="this.options[this.selectedIndex].value 
		        	&& (window.location = this.options[this.selectedIndex].value);">
				{% for st in spielzeit.spieltag_set.all %}
		        		<option {%if st.id == spieltag.id%}selected{%endif%} value="{% url BuLiTippApp.views.detail st.id %}">{{st.nummer}}</option>
				{% endfor %}
			</select>
	    </div>
    	<div style="float:right;">
    		{% include "navigation.html" %}
    	</div>
    	<div style="clear:both"></div>
    </div>

    
{% endblock %}

{% block content %}
{% include "css/BuLiTippApp.css" %}

{% if spieltag.bezeichner != None %}
	<h2>{{ spieltag.bezeichner }}</h2>
{% else %}
	<h2>Der {{ spieltag.nummer }}. Spieltag der Saison "{{ spielzeit.bezeichner  }}"</h2>
{% endif %}

{% if spieltag.is_tippable %}
Jetzt tippen bis zum {{ spieltag.datum }}.
{% else %}
Tippen nicht mehr möglich!
{% endif %}
<div>
<div style="float:left">
{% include "spieltag/inline.html" %}
</div>
{% if not spieltag.is_tippable %}
	{% with userpunkteplatz=spieltag.userpunkteplatz %}
		<div style="float:right">
		{% include "bestenliste/inline_switchable.html" %}
		</div>
	{% endwith %}
{% endif %}
<div style="clear:both"></div>
</div>
{% with kommentare=spieltag.kommentar_set.all spieltag=spieltag %}
	{% include "kommentar/detail.html" %}
{% endwith %}


{% endblock %}
