{% extends "base_site.html" %}
<!-- benötigt: spieltag, spielzeit -->
{% load i18n  %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="/BuLiTipp/">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    -&rsaquo;
    <a href="/BuLiTipp/{{spielzeit.id}}/">{{ spielzeit.bezeichner }}</a>
    -&rsaquo;

	<select name="spieltag" size="1" onchange="this.options[this.selectedIndex].value 
        	&& (window.location = this.options[this.selectedIndex].value);">
		{% for st in spielzeit.spieltag_set.all %}
        		<option {%if st.id == spieltag.id%}selected{%endif%} value="/BuLiTipp/sp{{st.id}}">{{st.nummer}}</option>
		{% endfor %}
	</select>

    <!--a href="/BuLiTipp/sp{{spieltag.id}}/">#{{ spieltag.nummer }}</a-->

    </div>
{% endblock %}

{% block content %}
Der {{ spieltag.nummer }}. Spieltag der Saison "{{ spielzeit.bezeichner  }}"<br>
{% if spieltag.is_tippable %}
Jetzt tippen bis zum {{ spieltag.datum }}.
{% else %}
Tippen nicht mehr möglich!
{% endif %}

{% include "spieltag/inline.html" %}

{% endblock %}
