<!-- benoetigte Daten: spieltag, spieltipp=[spiel, tipp, punkte, fremdtipps(user, tipp, punkte)], spieltag_previous, spieltag_next  -->
<!-- Optional: no_navigation="true"  -->

{% if spieltipp %}
{% load url from future %}
{% load filters %}

<form action="{% url "BuLiTippApp.views.tippen" spieltag.id  %}" method="post">
{% csrf_token  %}

    <table>
        <tr>
		<td><b>Spiel</b></td>
		<td><b>Ergebnis</b></td>
		{% if user.is_authenticated %}
			<td><b>mein Tipp</b></td>
			{% if not spieltag.is_tippable %}
				<!--td><b>Punkte</b></td-->{% endif %}{% endif %}
		{% if not spieltag.is_tippable %}
			<td><b><a onclick='if (document.getElementsByName("fremdtipp")[0].style.display==""){s="None";}else{ s="";}; for (var i = 0; i < document.getElementsByName("fremdtipp").length; i++) {document.getElementsByName("fremdtipp")[i].style.display=s; }' href="#">Andere:</a></b></td>
		{% endif %}
	</tr>
    {% for spiel, tipp, punkte, fremdtipps in spieltipp  %}
    {% with h=spiel.heimmannschaft.id a=spiel.auswaertsmannschaft.id szid=spieltag.spielzeit.id%}
		<tr>
		<td><center><b title="{{ spiel.heimmannschaft.serie|get:szid }}">{{ spiel.heimmannschaft }}</b> {% if tabelle != None %}({{tabelle|get:h}}.){% endif %} vs <b title="{{ spiel.auswaertsmannschaft.serie|get:szid }}">{{ spiel.auswaertsmannschaft }}</b> {% if tabelle != None %}({{tabelle|get:a}}.){% endif %}</center></td>
		<td>
		<center>
		{% if spiel.ergebniss == "DNF" %}
			{% if spieltag.is_tippable and spiel.is_tippable %}
				tippen!
			{% else %}
				{% if user.is_staff %}

					<a href ="{% url "admin:BuLiTippApp_spieltag_change" spieltag.id %}">
				
				{% endif %}
					eintragen!
				{% if user.is_staff %}
					</a>
				{% endif %}
			{% endif %}
		{% else %}
			{{ spiel.ergebniss  }}
		{% endif %}
		</center>
		</td>
		{% if user.is_authenticated %}
		<td>
			{% if spieltag.is_tippable and spiel.is_tippable  %}
			<input type="text" name="tipp_{{ spiel.id  }}" style="width:50px"
			id="tipp{{ spiel.id  }}" value="{{ tipp.ergebniss }}" 
			pattern="[0-9]{1,2}:[0-9]{1,2}" 
			title="Bitte Ergebnis im Format x:y angeben!"
			{% if not spieltag.is_tippable  %} Disabled {% endif %}>
			{% else %}
			<center class="tipp{{punkte}}">{{ tipp.ergebniss }} ({{punkte}})</center>
			{% endif %}
		</td>
		{% endif %}
		{% if user.is_authenticated and not spieltag.is_tippable %}
		<!--td>
		{% if punkte != None %}
			<center>{{punkte}}</center>
		{% endif %}
		</td-->
		{% endif %}
		{% for fremdtipp in fremdtipps %}
			<td name="fremdtipp" class="tipp{{fremdtipp.2}}">
			{% if fremdtipp.1 != "" %}
				{{fremdtipp.0}}: {{fremdtipp.1}} ({{fremdtipp.2}})
			{% endif %}
			</td>
		{% endfor %}
		</tr>
    {% endwith %}
    {% endfor %}
    </table>
{% if user.is_authenticated %}	
<input type="submit" value="Tipp abgeben!" 
	{% if not spieltag.is_tippable  %} Disabled {% endif %} />
	{% if user.is_staff %}
         <a href ="{% url "admin:BuLiTippApp_spieltag_change" spieltag.id %}">als Admin bearbeiten</a>
    {% endif %}
{% endif %}
</form>
{% else %}
    <p>Keine Spiele an diesem Spieltag.</p>
{% endif %}

{% if no_navigation != "true" %}
{% if spieltag.previous.id > 0 %}
	<a href="{% url "BuLiTippApp.views.detail" spieltag.previous.id %}">
	{% endif %}
	<- vorheriger
	{% if spieltag.previous.id > 0 %}
	</a>
{% endif %}

{% if spieltag.next.id > 0 %}
	<a href="{% url "BuLiTippApp.views.detail" spieltag.next.id %}">
	{% endif %}
	naechster ->
	{% if spieltag.next.id > 0 %}
	</a>
{% endif %}
direkt zu:
<select name="spieltag" size="1" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
{% for st in spieltag.spielzeit.spieltag_set.all %}
	<option value="{% url "BuLiTippApp.views.detail" st.id %}">{{st.nummer}}</option>
{% endfor %}
</select>
{% endif %}
