<!-- benoetigte Daten: spieltag, spieltipp, spieltag_previous, spieltag_next  -->
<!-- Optional: no_navigation="true"  -->

{% if spieltipp %}

<form action="/BuLiTipp/{{ spieltag.id  }}/tipp/" method="post">
{% csrf_token  %}
    <table>
        <tr><td><b>Spiel</b></td><td><b>Ergebnis</b></td>{% if user.is_authenticated %}<td><b>mein Tipp</b></td>{% if not spieltag.is_tippable %}<td><b>Punkte</b></td>{% endif %}{% endif %}<td></td></tr>
    {% for spiel, tipp, punkte in spieltipp  %}
		<tr>
		<td><center><b>{{ spiel.heimmannschaft }}</b> vs <b>{{ spiel.auswaertsmannschaft }}</b></center></td>
		<td>
		<center>
		{% if spiel.ergebniss == "DNF" %}
			{% if spieltag.is_tippable %}
				tippen!
			{% else %}
				eintragen!
			{% endif %}
		{% else %}
			{{ spiel.ergebniss  }}
		{% endif %}
		</center>
		</td>
		{% if user.is_authenticated %}
		<td><input type="text" name="tipp_{{ spiel.id  }}" style="width:50px"
			id="tipp{{ spiel.id  }}" value="{{ tipp.ergebniss }}" 
			pattern="[0-9]{1,2}:[0-9]{1,2}" 
			title="Bitte Ergebnis im Format x:y angeben!"
			{% if not spieltag.is_tippable  %} Disabled {% endif %}></td>
		{% endif %}
		{% if user.is_authenticated and not spieltag.is_tippable %}
		<td>
		{% if punkte != None %}
			<center>{{punkte}}</center>
		{% endif %}
		</td>
		{% endif %}
		</tr>
    {% endfor %}
    </table>
{% if user.is_authenticated %}	
<input type="submit" value="Tipp abgeben!" 
	{% if not spieltag.is_tippable  %} Disabled {% endif %} />
{% endif %}
</form>
{% else %}
    <p>Keine Spiele an diesem Spieltag.</p>
{% endif %}

{% if no_navigation != "true" %}
{% if spieltag.previous.id > 0 %}
<a href="/BuLiTipp/sp{{ spieltag.previous.id }}/">vorheriger</a>
{% endif %}

{% if spieltag.next.id > 0 %}
<a href="/BuLiTipp/sp{{ spieltag.next.id }}/">naechster</a>
{% endif %}
{% endif %}

{% with kommentare=spieltag.kommentar_set.all spieltag=spieltag %}
{% include "kommentar/detail.html" %}
{% endwith %}
