{% load url from future %}
{% load filters %}
<!--st_detail-->
<script>
spiele_tippbar=0
</script>

<div class="well text-center" id="dude"></div>
<script>
var jahr={{spieltag.datum.year}}, monat={{spieltag.datum.month}}, tag={{spieltag.datum.day}}, stunde={{spieltag.datum.hour}}, minute={{spieltag.datum.minute}}, sekunde={{spieltag.datum.second}};
var zielDatum=new Date(jahr,monat-1,tag,stunde,minute,sekunde);

var p = document.getElementById('dude');
countdown(p, zielDatum);
p.id = "";
</script>

{% if spieltag.spiele %}
	<form method="post" action="{% url "tipp" spielzeit.id spieltag.id %}">
	{% csrf_token  %}
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr >
					{% block spiel_header%}
						<th colspan=3 class="text-center">Spiel</th >
					{% endblock %}
					<th class="text-center">Ergebnis</th > 
					{% if user.is_authenticated %}
						<th class="text-center"><nobr>mein Tipp</nobr></th>
					{% endif %}
					{% block additional_header %}
					{% endblock %}
				</tr>
			</thead>
			<tbody>
				{% for spiel in spieltag.spiele  %}
				{% with h=spiel.heimmannschaft.id a=spiel.auswaertsmannschaft.id szid=spieltag.spielzeit.id%}
				<tr onmouseover="clear_marked_verein(); mark_verein({{spiel.heimTeam.id}}); mark_verein({{spiel.auswTeam.id}});">
				{% block spiel_column %}
					<td class="text-right">
						<b>{{ spiel.heimTeam }}</b>  
					</td>
					<td class="text-center">
						vs 
					</td>
					<td class="text-left">
						<b>{{ spiel.auswTeam }}</b> 
					</td>
				{% endblock %}
				<td>
					<center>
						{% if spiel.tippbar %}
							tippen!
						{% else %}
							{% comment %}striptags is used to convert ergebnis to string, bc somehow it seems not to be a real string sometimes{% endcomment %}
							{% if spiel.ergebnis and "DNF" not in spiel.ergebnis|striptags %}
								{{ spiel.ergebnis }}
							{% else %}
								{% if user.is_staff %}
								<a href ="{% url "admin:BuLiTippApp_spieltag_change" spieltag.id %}">
								{% endif %}
								eintragen!
								{% if user.is_staff %}
								</a>
								{% endif %}
							{% endif %}
					{% endif %}
					</center>
				</td>
				{% if user.is_authenticated %}
				<td>
					{% if spiel.tippbar  %}
						<script>
						spiele_tippbar+=1
						</script>
						<input type="text" 
							name="tipp_{{ spiel.id  }}" 
							style="width:50px" 
							id="tipp{{ spiel.id  }}"
							{% if spiel.eigenerTipp and spiel.eigenerTipp.ergebnis and "DNF" not in spiel.eigenerTipp.ergebnis|striptags %}
							value="{{ spiel.eigenerTipp.ergebnis }}"
							{% else %}
							value=""
							{% endif %}
							pattern="[0-9]{1,2}:[0-9]{1,2}"
							placeholder="tippen"
							title="Bitte Ergebnis im Format x:y angeben!">
					{% elif spiel.eigenerTipp and spiel.eigenerTipp.ergebnis %}
						<center class="tipp{{spiel.eigenerTipp.punkte}}">
							{{ spiel.eigenerTipp.ergebnis }}
							{% if spiel.eigenerTipp.punkte >= 0 %}
								({{ spiel.eigenerTipp.punkte }})
							{% endif %}
						</center>
					{% endif %}
				</td>
				{% endif %}
				{% block additional_column %}
				{% endblock %}
			</tr>
			{% endwith %}
			{% endfor %}
		</table>
	</div>
	<input type="hidden" name="referer" value="{{referer}}" />
	{% if user.is_authenticated %}
	<input class="btn btn-success pull-right right" type="submit" value="Tipp abgeben!" id="tippabgeben_button" /><br>
	<script>
	if (spiele_tippbar == 0)
		document.getElementById('tippabgeben_button').remove()
	</script>
		{% if user.is_staff %}
		{% endif %}
	{% endif %}
	</form>
	{% include "spieltag/st_nav.html" %}
{% else %}
	<p>Keine Spiele an diesem Spieltag.</p>
{% endif %}

