<!-- Optional: no_navigation="true"  -->
{% load url from future %}
{% load filters %}
<!--st_detail-->
<script>
spiele_tippbar=0
</script>
{% if spieltag.spiele %}
	<form method="post" action="{% url "tipp" spieltag.id %}">
	{% csrf_token  %}
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr >
					<th colspan=3 class="text-center">Spiel</th >
					<th class="text-center">Ergebnis</th > 
					{% if user.is_authenticated %}
						<th class="text-center"><nobr>mein Tipp</nobr></th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for spiel in spieltag.spiele  %}
				{% with h=spiel.heimmannschaft.id a=spiel.auswaertsmannschaft.id szid=spieltag.spielzeit.id%}
				<tr>
				<td class="text-right">
					<b>{{ spiel.heimTeam }}</b>  
				</td>
				<td class="text-center">
					vs 
				</td>
				<td class="text-left">
					<b>{{ spiel.auswTeam }}</b> 
				</td>
				<td>
					<center>
					{% if spiel.ergebnis == "DNF" %}
						{% if spiel.tippbar %}
							tippen!
						{% else %}
							{% if user.is_staff %}
							{% endif %}
							eintragen!
							{% if user.is_staff %}
								</a>
							{% endif %}
						{% endif %}
					{% else %}
						{{ spiel.ergebnis  }}
					{% endif %}
					</center>
				</td>
				{% if user.is_authenticated %}
				<td>
					{% if spiel.tippbar  %}
						<script>
						spiele_tippbar+=1
						</script>
						<input type="text" 
							name="tipp_{{ spiel.id  }}" 
							style="width:50px" 
							id="tipp{{ spiel.id  }}"
							value="{{ spiel.eigenerTipp.ergebnis }}" 
							pattern="[0-9]{1,2}:[0-9]{1,2}" 
							title="Bitte Ergebnis im Format x:y angeben!">
					{% else %}
						<center class="tipp{{spiel.eigenerTipp.punkte}}">
							{{ spiel.eigenerTipp.ergebnis }} 
							({{ spiel.eigenerTipp.punkte }})
						</center>
					{% endif %}
				</td>
				{% endif %}
			</tr>
			{% endwith %}
			{% endfor %}
		</table>
	</div>
	{% if user.is_authenticated %}
	<input class="btn btn-success pull-right right" type="submit" value="Tipp abgeben!" id="tippabgeben_button" /><br>
	<script>
	if (spiele_tippbar == 0)
		document.getElementById('tippabgeben_button').remove()
	</script>
		{% if user.is_staff %}
		{% endif %}
	{% endif %}
	</form>
	{% include "spieltag/st_nav.html" %}
{% else %}
	<p>Keine Spiele an diesem Spieltag.</p>
{% endif %}

