{% load url from future %}
<!--st_nav-->
<form id="form_v" action="" method="get">
	{% csrf_token %}
	<input type="hidden" name="spieltag" value="{{spieltag|add:"-1"}}" />
</form>

<form id="form_n" action="" method="get">
	{% csrf_token %}
	<input type="hidden" name="spieltag" value="{{spieltag|add:"1"}}" />
</form>

<div class="text-center">
	<a class="btn btn-primary pull-left" href="javascript:{}" onclick="document.getElementById('form_v').submit(); return false;">Voriger</a>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			Spieltag {{spielzeit.aktuellerSpieltag.nummer}} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" >
		{% for st in spielzeit.spieltage %}
			<li role="presentation" 
				{% if st.nummer == spielzeit.aktuellerSpieltag.nummer %}
					class="active"
				{% endif %}
			><a role="menuitem" tabindex="-1" href="#">Spieltag {{st.nummer}}</a></li>
		{% endfor %}
		</ul>
	</div>
	<a class="btn btn-primary pull-right" href="javascript:{}" onclick="document.getElementById('form_n').submit(); return false;" class="right">Nächster</a>
</div>
