{% load url from future %}
<!--st_nav-->
<div class="text-center">
	{% with prev=spieltag.id|add:"-1" %}
		<a class="btn btn-primary pull-left" href="{% url 'home' spielzeit.id prev %}">Voriger</a>
	{% endwith %}
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			Spieltag {{spieltag.nummer}} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" >
		{% for st in spielzeit.spieltage %}
			<li role="presentation" 
				{% if st.nummer == spieltag.nummer %}
					class="active"
				{% endif %}
			><a role="menuitem" tabindex="-1" href="{% url 'home' spielzeit.id st.id %}">Spieltag {{st.nummer}}</a></li>
		{% endfor %}
		</ul>
	</div>
	{% with next=spieltag.id|add:"1" %}
		<a class="btn btn-primary pull-right" href="{% url 'home' spielzeit.id next %}" class="right">Nächster</a>
	{% endwith %}
</div>
