{% load url from future %}
<!--st_nav-->
<div class="text-center">
	{% if spieltag.vorheriger %}
		<a class="btn btn-primary pull-left" href="{% url referer spielzeit.id spieltag.vorheriger.id %}">Voriger</a>
	{% else %}
		<a class="btn btn-disabled pull-left" href="#" disabled>Voriger</a>
	{% endif %}
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			Spieltag {{spieltag.nummer}} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" >
		{% for st in spielzeit.spieltage %}
			<li role="presentation" 
				{% if st.nummer == spieltag.nummer %}
					class="active"
				{% endif %}
			><a role="menuitem" tabindex="-1" href="{% url referer spielzeit.id st.id %}">Spieltag {{st.nummer}}</a></li>
		{% endfor %}
		</ul>
	</div>
	{% if spieltag.naechster %}
		<a class="btn btn-primary pull-right right" href="{% url referer spielzeit.id spieltag.naechster.id %}">Nächster</a>
	{% else %}
		<a class="btn btn-disabled pull-right right" href="#" disabled>Nächster</a>
	{% endif %}
</div>
