<!-- benoetigt: spieltag_id oder reply_to -->
{% if big %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Eigenen Kommentar senden</h3>
	</div>
	<div class="panel-body">
{% endif %}	
		<form action="{% url BuLiTippApp.views.post_kommentar spielzeit.id spieltag.id %}" method="post" role="form">
			<div class="form-group">
				{% csrf_token  %}
				<input type="hidden" name="spieltag_id" value="{{spieltag_id}}" />
				<input type="hidden" name="reply_to" value="{{reply_to}}" />
				<input name="text" class="form-control" placeholder="Kommentar eingeben"></input>
				<span class="help-block">Kommentare können auch von Nutzern anderer Tippgemeinschaften gelesen werden.</span>
			</div>
			<div class="text-right">
				<input type="submit" class="btn btn-success" style="margin: 5;" value="Kommentar Abschicken!" />
			</div>
		</form>
{% if big %}
	</div>
</div>
{% endif %}