<!-- benötigt kommentar, spieltag -->

<!-- collapsen: django jquery toggle-->
{% if editable != "true" %}

{% if kommentar.id %}
<div>
von {{ kommentar.user.username }} am {{kommentar.datum}}

<br>
<textarea disabled cols="50" rows="5">{{ kommentar.text }}</textarea>
	{% if kommentar.user.id == user.id or user.is_staff%}
		<form action="{% url BuLiTippApp.views.delete_kommentar%}" method="post">
		{% csrf_token %}
		<input type="hidden" name="kommentar_id" value="{{kommentar.id}}" />
		<input type="hidden" name="spieltag_id" value="{{spieltag.id}}" />
		<input type="submit" value="Kommentar l&ouml;schen" />
		</form>
	{% endif %}
	<!-- Kommentar auf Kommentar nur in der ersten ebene-->
	{% if kommentar.spieltag and user.is_authenticated %}
	<div style="padding-left:25px">
		{% with reply_to=kommentar.id %}
		{% include "kommentar/inline_new.html" %}
		{% endwith %}
	</div>
	{% endif %}
</div>
{% endif %}

{% else %}

{% with spieltag_id=spieltag.id %}
		{% include "kommentar/inline_new.html" %}
		{% endwith %}

{% endif %}
