{% extends 'bootstrap3/bootstrap3.html'	%}

{% block bootstrap3_title %}TippBuLi.de{% endblock %}

{% load bootstrap3 %}

{% block bootstrap3_content	%}
	<div class="container">
		<h1>TippBuLi <small>{% block title %}(no title){% endblock %}</small></h1>
		<nav class="navbar navbar-default " role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url home %}" {% if referer = 'home' %}class="active"{% endif %}>Home</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li {% if referer = 'news' %}class="active"{% endif %}>
						<a href="{% url news %}">Neuigkeiten <span class="badge">{% if news.anzahl_ungelesen > 0 %}{{ news.anzahl_ungelesen }}{% endif %}</span></a></li>
					{% if user.is_authenticated %}
					<li {% if referer = 'spieltag' %}class="active"{% endif %}>
						<a href="{% url spieltag spielzeit_id=spielzeit.id spieltag_id=spieltag.id %}">Spieltag</a></li>
					<li {% if referer = 'bestenliste' %}class="active"{% endif %}>
						<a href="{% url bestenliste %}">Bestenlisten</a></li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
						<li><a href="{% url user%}">{% firstof user.first_name user.username  %}</a></li>
						<li><a href="{% url logout %}"><span class="glyphicon glyphicon-log-out"></span></a></li>
					{% else %}
						<li><a href="{% url login %}"><span class="glyphicon glyphicon-log-in"></span></a></li>
					{% endif %}
					<!--li ><a href="/BuLiTipp/impressum">Impressum</a></li-->
				</ul>
			</div>
		 </nav>
		{% bootstrap_messages %}
		{% block content %}(no content){% endblock %}
	</div>
{% endblock	%}


