{% extends 'bootstrap.html'	%}

{% load bootstrap3 %}

{% block bootstrap3_content	%}
	<div class="container">
		<h1>{% block title %}(no title){% endblock %}</h1>
		<div class="text-center">
			<div class="visible-xs">
				This is xs
			</div>
			<div class="visible-sm">
				This is sm
			</div>
			<div class="visible-md">
				This is md
			</div>
			<div class="visible-lg">
				This is lg
			</div>
		</div>
		<nav class="navbar navbar-default " role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					 <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/BuLiTipp/home" {% if referer = 'home' %}class="active"{% endif %}>Home</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li {% if referer = 'news' %}class="active"{% endif %}>
						<a href="/BuLiTipp/news">Neuigkeiten <span class="badge">{{ news.anzahl_ungelesen }}</span></a></li>
					<li {% if referer = 'spieltag' %}class="active"{% endif %}>
						<a href="/BuLiTipp/spieltag">Spieltag</a></li>
					<li {% if referer = 'bestenliste' %}class="active"{% endif %}>
						<a href="/BuLiTipp/bestenliste">Bestenlisten</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
						<li><a href="/BuLiTipp/user">Einstellungen</a></li>
						<li><a href="/logout">Log out</a></li>
					{% else %}
						<li><a href="/BuLiTipp/login">Log in</a></li>
					{% endif %}
					<li ><a href="/BuLiTipp/impressum">Impressum</a></li>
				</ul>
			</div>
		 </nav>
{% comment %}
{% endcomment %}
		{% bootstrap_messages %}
		{% block content %}(no content){% endblock %}
	</div>
{% endblock	%}
