{% extends "base_site.html" %}

<!-- benötigte Variablen: spielzeiten, spieltipp_previous, spieltipp_next -->
{% load i18n  %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url BuLiTippApp.views.index %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    {% if aktuelle_spielzeit.id %}
    -&rsaquo;
    <a href="{% url BuLiTippApp.views.index aktuelle_spielzeit.id %}">{{ aktuelle_spielzeit.bezeichner }}</a>
    {% endif %}
    </div>
{% endblock %}


{% block content %}
<h1>BuLiTipp</h1>
Ideen für weitere Inhalte oder Änderungen/Kritik/Gestaltung gerne an: <a href="mailto:cdanzmann@gmail.com">cdanzmann@gmail.com</a>


<h2>Mitteilungen</h2>
{% for news_ in news %}
	<div style="border: 1px solid rgb(200, 200, 200); padding:5px;margin:5px; background-image: url(/static/admin/img/default-bg-reverse.gif); background-repeat:repeat-x" >
	von {{ news_.author.username }} am {{news_.datum}}

	<br>
	<!--textarea disabled cols="50" rows="5"-->
	{{news_.text|safe}}
	<!--/textarea-->
	</div>
	<hr>
{% endfor %}


<!-- Wenn mehrere Saisons vorhanden -> Saison ausählen -->
{% if user.is_authenticated %}

{% if spielzeiten|length > 1 %}
	<h2>Bitte Spielzeit auswählen({{spielzeiten|length}}):</h2>
		<ul>
		{% for spielzeit in spielzeiten %}
			<li><a href="{% url BuLiTippApp.views.index spielzeit.id %}">{{spielzeit.bezeichner}} auswählen</a></li>
		{% endfor %}
		</ul>

{% endif %}

{% endif %}

{% if spielzeiten|length == 0 %}
	{% if spieltipp_previous %}

		<div>
			<div style="float:left">
				<h2>Die Ergebnisse des letzten Spieltages:</h2>
				{% with spieltag=spieltipp_previous.0.0.spieltag _no_navigation_="true" spieltipp=spieltipp_previous kommentare=spieltipp_previous.0.0.spieltag.kommentar_set.all %}
				Hier die Übersicht des {{spieltag.nummer}}. Spieltages!

				{% include "spieltag/inline.html" %}
			</div>
			{% if not spieltag.is_tippable %}
			        {% with userpunkteplatz=aktuelle_spielzeit.userpunkteplatz %}
			                <div style="float:right; padding:15px;">
					<b>Saisonverlauf:</b>
				                {% include "bestenliste/inline.html" %}
			                </div>
			        {% endwith %}
			{% endif %}
			<div style="clear:both"></div>
		</div>


		{% include "kommentar/detail.html" %}

		{% endwith %}

	{% endif %}

	{% if spieltipp_next %}
		<h2>Hier der nächste Spieltag!</h2>
		{% with spieltag=spieltipp_next.0.0.spieltag no_navigation="true" spieltipp=spieltipp_next  %}
		Tippen noch möglich bis zum <strong>{{spieltag.datum}}</strong>!
		{% include "spieltag/inline.html" %}

		{% with kommentare=spieltag.kommentar_set.all %}
			{% include "kommentar/detail.html" %}
		{% endwith %}

		{% endwith %}
	{% endif %}
{% endif %}

{% endblock %}
