{% extends "base_site.html" %}

<!-- benötigte Variablen: spielzeiten, spieltipp_previous, spieltipp_next -->
{% load i18n  %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
    	<div style="float:left">
		    <a href="{% url BuLiTippApp.views.index %}">{% trans 'Home' %}</a>
		    {% if title %} &rsaquo; {{ title }}{% endif %}
		    
			-&rsaquo;
			<a href="{% url BuLiTippApp.views.news %}">Mitteilungen</a>
		    
	    </div>
    	<div style="float:right;">
    		{% include "navigation.html" %}
    	</div>
    	<div style="clear:both"></div>
    </div>
{% endblock %}


{% block content %}
{% include "css/BuLiTippApp.css" %}

<h2>Mitteilungen</h2>
{% for news_ in news %}
	<div style="border: 1px solid rgb(200, 200, 200); padding:5px;margin:5px; background-repeat:repeat-x" >
	von {% firstof news_.author.first_name news_.author.username %} am {{news_.datum}}

	<br>
	<!--textarea disabled cols="50" rows="5"-->
	{{news_.text|safe}}
	<!--/textarea-->
	</div>
	<hr>
{% endfor %}

{% endblock %}
