{% extends "base_site.html" %}

{% block content %}
	Bitte ausf&uuml;llen!
	<form method="POST" action="{% url BuLiTippApp.views.register %}">
	{% csrf_token %}
<table>
<tr><td/></td>
		<tr><td><label for="uname"><strong>Username*:</strong></label></td>		<td><input type="text" id="uname" name="username" required /></td></tr>
		<tr><td><label for="pword"><strong>Passwort*:</strong></label></td>		<td><input type="password" id="pword" name="password" required /></td></tr>
		<tr><td><label for="fname">Vorname:</label></td>		<td><input type="text" id="fname" name="first_name" /></td></tr>
		<tr><td><label for="email">email:</label></td>		<td><input type="email" id="email" name="email" /></td></tR>

</table>
		<input type="submit" value="register" />
	</form>
{% endblock %}
