{% load url from future %}
<!--bl_buli-->
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colSpan=3 class="text-center">Bestenliste</th >
			</tr>
		</thead>
		<tbody>
		
		{% for blp in spieltag.bestenliste.bestenlistenPlatz %}
			<tr {% if user = blp.user %}class="active"{% endif %}>
				<td>{{blp.position}}</td><td>{% firstof blp.user.first_name blp.user.username %}</td><td>{{blp.punkte}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
