{% load url from future %}
{% load filters %}
<!--bl_buli-->
<script type="text/javascript">
<!--

tgs = new Array(); 
function addTG(identifier){
	for (tg in tgs){
		if (tg == identifier){
			return
		}
	}
	tgs[tgs.length]=identifier
}
function showNext(){
	current++;
	if(current >= tgs.length){
		current=0;
	}
	show(tgs[current]);
	if(local_storage){
		localStorage.setItem("current_tg", current);
	}
}
function show(identifier){
	shown = false;
	for (tg in tgs){
		if (tgs[tg] == identifier){
			$("[name='"+tgs[tg]+"']").css("display","");
			shown = true;
		}else{
			$("[name='"+tgs[tg]+"']").css("display","none");
		}
	}
	if( ! shown ){
		current = 0;
		show(tgs[current]);
	}
}
if(typeof(Storage)!=="undefined")
{
	local_storage=true;
	current = localStorage.getItem("current_tg");
	if( ! current || current == "NaN" ){
		current = 0;
	}
}
else
{
	current = 0;
}

function fix_bestlist_reduction(id){
	// insert "empty lines" when a position is skipped due to bestenlist reduction.
	last_position = 99;
	skipped_position = 0;
	items = $('#'+id+' tr[name^="bl_tg"]');
	$.each(items,function( index, value ) {
		  pos = parseInt($(value).children()[0].innerHTML);
		  if(pos > last_position+1+skipped_position){
			  var empty_tr = $("<tr name='"+$(value).attr("name")+"' style='"+$(value).attr("style")+"'><td class='text-center' colSpan="+$(value).children().size()+">...</td></tr>");
			  $(value).before(empty_tr)
		  }
		  if(pos == last_position){
			  skipped_position++;
		  }else{
			  skipped_position=0;
		  }
		  last_position = pos;
	});
}
//-->
</script>
<div class="tab-content">
	<div class="tab-pane {% if not first or first = "bl1" %}active{% endif %}" id="bl1">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th colSpan=3 class="text-center">
							<h4 style="margin:0px;">Bestenliste<small>Spieltag</small>{% if no_switch != "true" %} <a id="abl2" href="#bl2" data-toggle="tab"><span class="glyphicon glyphicon-refresh"></span></a>{% endif %}
							<a class "right pull-right" href="{% url "help_single_item" "faq" "bestenliste" %}"><span style="color:blue;" class="glyphicon glyphicon-question-sign"></span></a>
						{% for tg, bl in spieltag.bestenliste.items %}
							<script>addTG("bl_tg_{{tg.id}}");</script>
							{% if no_switch != "true" %}
							<small>
								<div name="bl_tg_{{tg.id}}" style="display:none; color:black;{% if tg.bezeichner == "Übersicht" %}font-weight:bold;{% endif %}">{{tg.bezeichner}}{% if spieltag.bestenliste|length > 1 %} <a href="#" onclick="showNext()"><span class="glyphicon glyphicon-refresh"></span></a>{% endif %}</div>
							</small>
							{% endif %}
						{% endfor %}
						</h4>
						</th >
					</tr>
				</thead>
				<tbody>
				{% for tg, bl in spieltag.bestenliste.items %}
				{% for blp in bl.bestenlistenPlatz %}
					<tr {% if user = blp.user %}class="active"{% endif %} name="bl_tg_{{tg.id}}"  style="{% if forloop.parentloop.counter > 1 %}display:none;{% endif %}">
						<td>{{blp.position}}</td>
						<td>
							{% if not spieltag.vollstaendig_getippt|get:blp.user.id and spieltag.tippbare_spiele > 0 and blp.user.id < 9999 %}
								<span class="glyphicon glyphicon-warning-sign pull-right" style="color:orange;" title="{% firstof firstof blp.user.first_name blp.user.username %} hat noch nicht getippt!"></span>
							{% endif %}
							{% firstof blp.user.first_name blp.user.username %}
						</td>
						<td>{{blp.punkte}}</td>
					</tr>
				{% endfor %}
				{% empty %}
				<tr><td colSpan=3><a href="{% url "user" "tgchange" %}">Jetzt einer Tippgemeinschaft beitreten!</a></td></tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="tab-pane {% if first = "bl2" %}active{% endif %}" id="bl2">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th colSpan=4 class="text-center">
							<h4 style="margin:0px;">Bestenliste<small>Spielzeit</small>{% if no_switch != "true" %} <a id="abl1" href="#bl1" data-toggle="tab"><span class="glyphicon glyphicon-refresh"></span></a>{% endif %}
							<a class "right pull-right" href="{% url "help_single_item" "faq" "bestenliste" %}"><span style="color:blue;" class="glyphicon glyphicon-question-sign"></span></a>
						{% for tg, bl in spieltag.bestenliste.items %}
							<script>addTG("bl_tg_{{tg.id}}");</script>
							{% if no_switch != "true" %}
							<small>
								<div name="bl_tg_{{tg.id}}" style="display:none; color:black;{% if tg.bezeichner == "Übersicht" %}font-weight:bold;{% endif %}">
								<select class="form-control" onchange="show(this.value);this.selectedIndex=0;">
								<option value="bl_tg_{{tg.id}}">{{tg.bezeichner}}</option>
								{% for tg1, bl1 in spieltag.bestenliste.items %}
								{% if tg != tg1 %}
								<option value="bl_tg_{{tg1.id}}">{{tg1.bezeichner}}</option>
								{% endif %}
								{% endfor %}
								</select>
								{% if spieltag.bestenliste|length > 1 and 0 %} 
								<a href="#" onclick="showNext()"><span class="glyphicon glyphicon-refresh"></span></a>
								{% endif %}
								</div>
							</small>
							{% endif %}
						{% endfor %}
						</h4>
						</th >
					</tr>
				</thead>
				<tbody>
				{% for tg, bl in spielzeit.bestenliste.items %}
				{% for blp in bl.bestenlistenPlatz %}
					<tr {% if user = blp.user %}class="active"{% endif %} name="bl_tg_{{tg.id}}"  style="{% if forloop.parentloop.counter > 1 %}display:none;{% endif %}">
						<td style="border-right:0px;" class="text-center">{{blp.position}}</td>
						<td style="border-left:0px;">
							{% if blp.delta > 0 %}
								<span title="um {{blp.delta}} Position{% if blp.delta > 1 %}en{% endif %} verbessert" style="width:0px;position: relative;left: -10px;color:green;" class="glyphicon glyphicon-circle-arrow-up"></span>
							{% elif blp.delta < 0 %}
								<span title="um {{blp.delta|mult:-1}} Position{% if blp.delta < -1 %}en{% endif %} verschlechtert" style="width:0px;position: relative;left: -10px;color:red;" class="glyphicon glyphicon-circle-arrow-down"></span>
							{% else %}
								<span style="width:0px;position: relative;left: -10px;color:grey;" class="glyphicon glyphicon-circle-arrow-right"></span>
							{% endif %}
						</td>
						<td>{% firstof blp.user.first_name blp.user.username %}</td>
						<td>{{blp.punkte}}</td>
					</tr>
				{% endfor %}
				{% empty %}
				<tr><td colSpan=3><a href="{% url "user" "tgchange" %}">Jetzt einer Tippgemeinschaft beitreten!</a></td></tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>show(tgs[current]);</script>
<script>
<!-- ids must be different, because several bestenlisten may be on one page, otherwise tabs wouldn't work -->
var id1=Math.random()*100000000000000000;
var id2=Math.random()*100000000000000000;

document.getElementById("bl1").id="bl1" + id1
document.getElementById("abl1").href="#bl1" + id1
document.getElementById("abl1").id="abl1" + id1
fix_bestlist_reduction("bl1" + id1);

document.getElementById("bl2").id="bl2" + id2
document.getElementById("abl2").href="#bl2" + id2
document.getElementById("abl2").id="abl2" + id2
fix_bestlist_reduction("bl2" + id2);
</script>
