{% extends 'base.html' %}

{% block title %}Bestenlisten{% endblock %}

{% block content %}
<!--bl_index-->
<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
	{% for sz in spielzeiten %}
		<div class="col-xs-12 col-sm-6 col-md-4">
		<h2>{{sz.bezeichner}}</h2>
			{% with spieltag=sz.aktuellerSpieltag spielzeit=sz first="bl2" no_switch="true" %}
				{% include "bestenliste/bl_detail.html" %}
			{% endwith %}
		</div>
	{% endfor %}
</div>

{% include "stats/halbserie.html" %}

{% endblock %}