<style type="text/css">
*.tipp3 { color:green; font-weight:bold; }
*.tipp2 { color:blue; }
*.tipp1 { color:orange; }
*.tipp0 { color:red;  }

*.message {margin:5px;color:#417690;font-weight:bold;}

</style>
