{% load url from future %}
{% load filters %}
<!--bl_buli-->
<div class="table-responsive" style="float:right; width:200px;">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colSpan=4 class="text-center"><h4 style="margin:0px;">Bestenliste<small>Spielzeit</small></h4></th >
			</tr>
		</thead>
		<tbody>
		{% for blp in spielzeit.bestenliste.bestenlistenPlatz %}
			<tr {% if user = blp.user %}class="active"{% endif %}>
				<td style="border-right:0px;" class="text-center">{{blp.position}}</td>
				<td style="border-left:0px;">
					{% if blp.delta > 0 %}
						<span title="um {{blp.delta}} Position{% if blp.delta > 1 %}en{% endif %} verbessert" style="width:0px;position: relative;left: -10px;color:green;" class="glyphicon glyphicon-circle-arrow-up"></span>
					{% elif blp.delta < 0 %}
						<span title="um {{blp.delta|mult:-1}} Position{% if blp.delta < -1 %}en{% endif %} verschlechtert" style="width:0px;position: relative;left: -10px;color:red;" class="glyphicon glyphicon-circle-arrow-down"></span>
					{% else %}
						<span style="width:0px;position: relative;left: -10px;color:grey;" class="glyphicon glyphicon-circle-arrow-right"></span>
					{% endif %}
				</td>
				<td>{% firstof blp.user.first_name blp.user.username %}</td>
				<td>{{blp.punkte}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
