{% extends 'bootstrap3/bootstrap3.html'	%}
{% block bootstrap3_title %}{% endblock %}
{% load bootstrap3 %}
{% block bootstrap3_content	%}
<p>{{spielzeit.bezeichner}} / {% if spieltag.bezeichner %}{{spieltag.bezeichner}}{% else %}Spieltag {{spieltag.nummer}}{% endif %}</p>
<!--st_print_index-->
<div class="row" style="padding-top: 40px;">
	<div>
		{% include "spieltag/print/st_detail_andere.html" %}
	</div>
</div>
<p class="text-center">TippBuLi.de - {{spieltag.datum}}</p>
{% endblock	%}
