<div class="panel panel-default">
<div class="panel-heading">
	<h3 class="panel-title">Spielzeitstatistiken für Saison 2013/14</h3>
</div>
<div class="panel-body">
<h1>Offizielle Highscore</h1>
<h3>Saison 2013/14</h3>

<!-- benötigt: userpunkteplatz  -->

<table class="table table-bordered">
<thead><tr><th><strong>Platz</strong></th><th>Spieler</th><th>Punkte</th></thead>
<tbody>

<tr><td><b>1(1)</b>
</td><td>
Chrissie
</td><td>
247(125)
</td>
</tr>

<tr><td><b>2(2)</b>
</td><td>

Danzax
 </td><td>
235(120)
</td>
</tr>

<tr><td><b>3(9)</b>
</td><td>

Snoopy
 </td><td>
227(86)
</td>
</tr>

<tr><td><b>4(6)</b>
</td><td>

die Mandy
 </td><td>
226(109)
</td>
</tr>

<tr><td><b>5(3)</b>
</td><td>

Sergio
 </td><td>
223(119)
</td>
</tr>

<tr><td><b>5(5)</b>
</td><td>

PoggeDeluxe
 </td><td>
223(113)
</td>
</tr>

<tr><td><b>7(7)</b>
</td><td>

fox
 </td><td>
213(100)
</td>
</tr>

<tr><td><b>8(7)</b>
</td><td>

kati
 </td><td>
212(100)
</td>
</tr>

<tr><td><b>9(4)</b>
</td><td>

Sascha
 </td><td>
194(118)
</td>
</tr>

<tr><td><b>10(10)</b>
</td><td>

hennink
 </td><td>
87(29)
</td>
</tr>

</tbody></table>



<h3>Echte Ergebnisse von 306 Spielen(64(35) Unentschieden)</h3>
<table class="table table-bordered">
	<thead><tr><th>Ergebis</th><th>Anzahl</th></tr></thead>
	<tbody>
		<tr><td>1:1</td><td>30(15)</td></tr>
		<tr><td>2:0</td><td>26(13)</td></tr>
		<tr><td>2:1</td><td>25(12)</td></tr>
		<tr><td>3:1</td><td>23(?)</td></tr>
		<tr><td>1:2</td><td>19(?)</td></tr>
		<tr><td>0:1</td><td>17(11)</td></tr>
		<tr><td>1:0</td><td>17(11)</td></tr>
	</tbody>
</table>

<h3>Getippte Ergebnisse, von 2845(1399) Tipps(436(199) Unentschieden)</h3>
<table class="table table-bordered">
	<thead><tr><th>Ergebis</th><th>Anzahl</th></tr></thead>
	<tbody>
		<tr><td>2:1</td><td>505(249)</td></tr>
		<tr><td>1:0</td><td>351(208)</td></tr>
		<tr><td>1:2</td><td>317(163)</td></tr>
		<tr><td>2:0</td><td>296(122)</td></tr>
		<tr><td>1:1</td><td>240(121)</td></tr>
	</tbody>
</table>

<h3>Richtig Getippte Ergebnisse, von 220(104) richtigen Tipps</h3>
<table class="table table-bordered">
	<thead><tr><th>Ergebis</th><th>Anzahl</th></tr></thead>
	<tbody>
		<tr><td>2:1</td><td>46(20)</td></tr>
		<tr><td>1:1</td><td>33(14)</td></tr>
		<tr><td>2:0</td><td>31(14)</td></tr>
		<tr><td>1:2</td><td>31(12)</td></tr>
		<tr><td>0:2</td><td>16(?)</td></tr>
		<tr><td>1:0</td><td>15(12)</td></tr>


	</tbody>
</table>
<h3>Richtig Tipps, von 220(104) richtigen Tipps</h3>
<table class="table table-bordered">
	<thead><tr><th>User</th><th>Anzahl</th></tr></thead>
	<tbody>
		<tr><td>Snoopy</td><td>32(8)</td></tr>
		<tr><td>laDanz</td><td>31(15)</td></tr>
		<tr><td>PoggeDeluxe</td><td>26(12)</td></tr>
		<tr><td>Fox</td><td>25(13)</td></tr>
		<tr><td>Sascha</td><td>23(12)</td></tr>
		<tr><td>danzax</td><td>23(11)</td></tr>
		<tr><td>Mandy</td><td>20(11)</td></tr>
		<tr><td>Kati</td><td>19(11)</td></tr>
		<tr><td>Sergio</td><td>17(11)</td></tr>
	</tbody>
</table>

<h3>Anzahl Tipps und Punkte pro Tipp</h3>
<table class="table table-bordered">
<thead><tr><th><strong>Spieler</strong></th><th>Tipps</th><th>Punkte pro Tipp</th></thead>
<tbody>

<tr><td>Chrissie</td><td>306</td><td>0,807</td></tr>

<tr><td>Danzax </td><td>306</td><td>0,768</td></tr>

<tr><td>Snoopy </td><td>297</td><td>0,764</td></tr>

<tr><td>fox </td><td>279</td><td>0,763</td></tr>

<tr><td>PoggeDeluxe </td><td>297</td><td>0,751</td></tr>

<tr><td>Sergio </td><td>300</td><td>0,743</td></tr>

<tr><td>die Mandy </td><td>306</td><td>0,739</td></tr>

<tr><td>kati</td><td>296</td><td>0,716</td></tr>

<tr><td>Sascha </td><td>306</td><td>0,634</td></tr>

<tr><td>hennink </td><td>152</td><td>0,572</td></tr>

</tbody></table>

<h3>Spieltage &lt;-&gt; Punkte</h3>
<table class="table table-bordered">
	<thead><tr><th>Spieltag</th><th>Punkte</th></tr></thead>
	<tbody>
		<tr><td><a href="{% url 'spieltag' 2 34 %}">33</a></td><td>99</td></tr>
		<tr><td><a href="{% url 'spieltag' 2 13 %}">12</a></td><td>97</td></tr>
		<tr><td><a href="{% url 'spieltag' 2 21 %}">20</a></td><td>91</td></tr>
		<tr><td colspan="2">---------------</td></tr>
		<tr><td><a href="{% url 'spieltag' 2 9 %}">8</a></td><td>30</td></tr>
		<tr><td><a href="{% url 'spieltag' 2 18 %}">17</a></td><td>30</td></tr>
		<tr><td><a href="{% url 'spieltag' 2 19 %}">18</a></td><td>28</td></tr>
	</tbody>
</table>

<h3>Spiele &lt;-&gt; Punkte</h3>
<table class="table table-bordered">
	<thead><tr><th>Spieltag</th><th>Punkte</th></tr></thead>
	<tbody>
		<tr><td>FC Schalke 04 vs SC Freiburg (2:0)</td><td>23</td></tr>
		<tr><td>Bayern München vs Hannover 96 (2:0)</td><td>20</td></tr>
		<tr><td>1.FC Nürnberg vs Bayern München (0:2)</td><td>19</td></tr>
		<tr><td colspan="2">---------------</td></tr>
		<tr><td>		Hannover 96 vs 1. FC Nürnberg (3:3)<br>
		1. FC Nürnberg vs SC Freiburg (0:3)<br>
		1. FC Nürnberg vs Borussia Dortmund (1:1)<br>
		(Bor. Mönchengladbach vs Borussia Dortmund (2:0)<br>
		Borussia Dortmund vs Hertha BSC (1:2)<br>
		Hertha BSC vs FC Augsburg (0:0)<br>
		Hamburger SV vs FC Augsburg (0:1)<br>
		Hamburger SV vs Werder Bremen (0:2)<br>
		Werder Bremen vs SC Freiburg (0:0)<br>
		Werder Bremen vs Bayer Leverkusen (1:0)<br>
		Werder Bremen vs 1. FSV Mainz 05 (2:3)<br>
		VfL Wolfsburg vs Hamburger SV (1:1)<br>
		VfL Wolfsburg vs Eintracht Braunschweig (0:2)<br>
		Eintracht Braunschweig vs 1899 Hoffenheim (1:0)<br>
		Eintracht Braunschweig vs Bayer Leverkusen (1:0)<br>
		Bayer Leverkusen vs Bayern München (1:1)<br>
		Bayer Leverkusen vs Eintracht Frankfurt (0:1)<br>
		Eintracht Frankfurt vs FC Schalke 04 (3:3)<br>
		SC Freiburg vs Bayern München (1:1)<br>
		</td><td>0</td></tr>
		
	</tbody>
</table>
<h3>Getippte Tore</h3>
<table class="table table-bordered">
	<thead><tr><th>User</th><th>Anzahl</th></tr></thead>
	<tbody>
		<tr><td>Fox</td><td>1099(601)</td></tr>
		<tr><td>danzax</td><td>1088(598)</td></tr>
		<tr><td><b>in echt:</b></td><td><b>967(486)</b></td></tr>
		<tr><td>Snoopy</td><td>959(500)</td></tr>
		<tr><td>Mandy</td><td>913(5349</td></tr>
		<tr><td>PoggeDeluxe</td><td>877(432)</td></tr>
		<tr><td>laDanz</td><td>837(436)</td></tr>
		<tr><td>Kati</td><td>812(441)</td></tr>
		<tr><td>Sergio</td><td>761(465)</td></tr>
		<tr><td>Sascha</td><td>594(379)</td></tr>
	</tbody>
</table>
<h3>Unentschieden</h3>
<table class="table table-bordered">
	<thead><tr><th>User</th><th>Wie oft getippt? (in echt:64(35))</th><th>Wie oft Recht gehabt?</th><th>Quote</th></tr></thead>
	<tbody>
		<tr><td>laDanz</td><td>34(14)</td><td>11(5)</td><td>0,324</td></tr>
		<tr><td>Sergio</td><td>11(10)</td><td>3(3)</td><td>0,273</td></tr>
		<tr><td>Mandy</td><td>43(28)</td><td>11(8)</td><td>0,256</td></tr>
		<tr><td>Fox</td><td>63(25)</td><td>14(7)</td><td>0,222</td></tr>
		<tr><td>PoggeDeluxe</td><td>50(24)</td><td>11(7)</td><td>0,220</td></tr>
		<tr><td>Kati</td><td>25(12)</td><td>5(2)</td><td>0,200</td></tr>
		<tr><td>danzax</td><td>32(16)</td><td>6(5)</td><td>0,188</td></tr>
		<tr><td>Snoopy</td><td>54(32)</td><td>10(4)</td><td>0,185</td></tr>
		<tr><td>Sascha</td><td>103(23)</td><td>19(5)</td><td>0,184</td></tr>
	</tbody>
</table>

<h3>Pechvögel</h3>
Um ein Tor daneben gelegen, und deswegen 0 Punkte gekriegt:
<table class="table table-bordered">
	<thead><tr><th>User</th><th>Anzahl Spiele</th></tr></thead>
	<tbody>
		<tr><td>Snoopy</td><td>39(25)</td></tr>
		<tr><td>Danzax</td><td>36(18)</td></tr>
		<tr><td>Kati</td><td>35(17)</td></tr>
		<tr><td>Sascha</td><td>33(15)</td></tr>
		<tr><td>Sergio</td><td>33(19)</td></tr>
		<tr><td>Pogge</td><td>28(14)</td></tr>
		<tr><td>Chrissie</td><td>26(17)</td></tr>
		<tr><td>Mandy</td><td>22(14)</td></tr>
		<tr><td>Fox</td><td>22(7)</td></tr>
	</tbody>
</table>
<h3>Getippte Tabelle (grün:überschätz, rot:unterschätzt)</h3>
<table class="table table-bordered">
	<thead><tr><th>Verein</th><th>Platz</th><th>Unterschied</th></tr></thead>
	<tbody>
		<tr><td>Bayern München</td><td>1(1)</td><td><b>+-0(+-0)</b></td></tr>
		<tr><td>Borussia Dortmund</td><td>2(2)</td><td style="color:black"><b>+-0(+2)</b></td></tr>
		<tr><td>Bayer Leverkusen</td><td>3(3)</td><td style="color:green">+1(-1)</td></tr>
		<tr><td>FC Schalke 04</td><td>4(4)</td><td style="color:red">-1(+3)</td></tr>
		<tr><td>VfL Wolfsburg</td><td>5(5)</td><td><b>+-0(+-0)</b></td></tr>
		<tr><td>Bor. Mönchengladbach</td><td>6(6)</td><td style="color:black"><b>+-0(-3)</b></td></tr>
		
		<tr><td>Hertha BSC</td><td>7(7)</td><td style="color:green">+4(-1)</td></tr>
		<tr><td>1899 Hoffenheim</td><td>8(11)</td><td style="color:green">+1(+1)</td></tr>
		<tr><td>Hannover 96</td><td>9(8)</td><td style="color:green">+1(+5)</td></tr>
		<tr><td>FC Augsburg</td><td>10(15)</td><td style="color:red">-2(-7)</td></tr>
		<tr><td>1. FSV Mainz 05</td><td>11(13)</td><td style="color:red">-4(-4)</td></tr>
		<tr><td>Hamburger SV</td><td>12(9)</td><td style="color:green">+4(+5)</td></tr>
		
		<tr><td>Werder Bremen</td><td>13(12)</td><td style="color:red">-1(-1)</td></tr>
		<tr><td>VfB Stuttgart</td><td>14(10)</td><td style="color:green">+1(+-0)</td></tr>
		
		<tr><td>Eintracht Frankfurt</td><td>15(14)</td><td style="color:red">-2(+1)</td></tr>
		
		<tr><td>1. FC Nürnberg</td><td>16(17)</td><td style="color:green">+1(+-0)</td></tr>
		<tr><td>SC Freiburg</td><td>17(18)</td><td style="color:red">-3(-2)</td></tr>
		<tr><td>Eintracht Braunschweig</td><td>(18)16</td><td style="color:black"><b>+-0(+2)</b></td></tr>
		
	</tbody>
</table>
</div>
</div>
